*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

feature/voice/src/main/assets/model-en-us/
feature/voice/src/main/assets/model-vi/
feature/voice/vosk-model-*.zip
feature/voice/src/main/assets/embeddings/model_quantized.onnx
feature/voice/src/main/assets/embeddings/vocab.txt

# IDE / local
.idea/
.kotlin/
*.png
**/build/

